.auth-page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    background-color: white;

    .auth-form {
        background-color: white;
        padding: 30px;
        border-radius: 10px;
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
        width: 300px;


        h2 {
            font-size: 24px;
            color: #8a4baf;
            margin-bottom: 15px;
        }

        form {
            text-align: left;

            label {
                display: block;
                margin-bottom: 5px;
                font-size: 14px;
                color: #333;
            }

            input {
                width: 92%;
                padding: 10px;
                margin-bottom: 15px;
                border: 1px solid #ccc;
                border-radius: 5px;
            }

            .common-btn {
                background-color: #8a4baf;
                padding: 10px 20px;
                color: white;
                border: none;
                border-radius: 5px;
                font-size: 18px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-top: 10px;

                &:hover {
                    background-color: #5f357e;
                }

                @media (max-width:768px) {
                    font-size: 16px;
                }
            }
        }
    }
}